<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Galen_POC">
	<test verbose="2" name="Test_Automation">
		<parameter name="browser" value="chrome" />
		<parameter name="viewpoint" value="tab" />
		<classes>
			<class name="com.galenframework.GalenTest.LayoutTest" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->

